.modal-show {
    display: flex;
  }
  
  .modal-hide {
    display: none;
  }
  
  
  .modal {
    z-index: 111111 !important;
  }
  
  .modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .modal-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .modal-body {
    padding-bottom: 10px !important;
  }
  
  .modalcontent {
    border: none!important;
    align-items: center;
    width: fit-content;
    justify-content: center;
  }